{{<govuk-template}}
  {{$pageTitle}}{{title}}{{/pageTitle}}
  {{$bodyClasses}}pdf{{/bodyClasses}}
  {{$head}}
    <style>
      {{{css}}}
      html {
        background: white;
      }
    </style>
  {{/head}}
  {{$main}}
    <main id="content" class="main pdf-body" role="main">
      <img class="ho-logo" src="{{ho-logo}}" alt="Home Office logo"/>
      <h1 class="govuk-heading-l">{{title}}</h1>
      <p class="govuk-body">Reference: {{referenceNumber}}</p>
      <p class="govuk-body">Time and date: {{dateTime}}</p>
      {{#rows}}
        {{^omitFromPdf}}
          <table data-section="{{section}}" class="table-details">
            <caption class="govuk-table__caption pdf-table-caption">{{section}}</caption>
            <tbody{{#name}} data-group="{{name}}"{{/name}}>
            {{#fields}}
            {{^omitFromPdf}}
              {{#isSeparator}}
                <tr class="spacer">
                  <td colspan="2"></td>
                </tr>
              {{/isSeparator}}
              {{^isSeparator}}
                <tr data-id="{{field}}"{{#className}} class="{{className}}"{{/className}}>
                  <td data-label="{{label}}">{{label}}</td>
                  <td data-value="{{value}}">{{#parsed}}{{parsed}}{{/parsed}}{{^parsed}}{{value}}{{/parsed}}</td>
                </tr>
              {{/isSeparator}}
            {{/omitFromPdf}}
            {{/fields}}
            </tbody>
          </table>
        {{/omitFromPdf}}
      {{/rows}}
      {{#addFilesSection}}
        <table data-section="files" class="table-details">
          <caption class="govuk-table__caption pdf-table-caption">Files</caption>
          <tbody>
          {{#files}}
            <tr data-id="{{field}}"{{#className}} class="{{className}}"{{/className}}>
              <td data-label="{{label}}">{{label}}</td>
              <td data-value="{{label}}">
                <ul class="govuk-list govuk-list--number">
                  {{#urls}}
                    <li><a class="govuk-link" href="{{url}}">{{name}}</a></li>
                  {{/urls}}
                </ul>
              </td>
            </tr>
          {{/files}}
          </tbody>
        </table>
      {{/addFilesSection}}
    </main>
  {{/main}}
{{/govuk-template}}
