{{<layout}}
  {{$journeyHeader}}
    {{#t}}journey.header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}{{/propositionHeader}}

  {{$pageTitle}}
    {{#t}}save-and-exit.header{{/t}} &ndash; {{#t}}journey.serviceName{{/t}} &ndash; GOV.UK
  {{/pageTitle}}

  {{$content}}
    {{#markdown}}save-and-exit{{/markdown}}
    <a href="/licence-type" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      {{#t}}buttons.sign-in-again{{/t}}
    </a>
  {{/content}}
{{/layout}}
