{{#items}}
  <div class="govuk-summary-card govuk-!-margin-top-4">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{itemTitle}}</h2>
      <div class="govuk-summary-card__actions">
        <a href="{{baseUrl}}/{{route}}/update/{{index}}" class="govuk-link">{{#t}}buttons.change{{/t}}<span class="visuallyhidden">{{#t}}buttons.change{{/t}} {{itemTitle}}'s witness details</span></a>
        <a href="{{baseUrl}}/{{route}}/delete/{{index}}" class="govuk-link govuk-!-margin-left-3">{{#t}}buttons.remove{{/t}}<span class="visuallyhidden">{{#t}}buttons.remove{{/t}} {{itemTitle}}'s witness details</span></a>
      </div>
    </div>
  </div>

  <dl class="govuk-summary-list govuk-!-margin-top-1 govuk-!-margin-bottom-1">
  {{#fields}}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">{{#label}}{{label}}{{/label}}{{^label}}{{#t}}fields.{{field}}{{/t}}{{/label}}</dt>
      <dd class="govuk-summary-list__value" data-value="{{value}}">{{#parsed}}{{parsed}}{{/parsed}}{{^parsed}}{{value}}{{/parsed}}</dd>
    </div>
  {{/fields}}
  </dl>
{{/items}}
