{{<partials-page}}
  {{$page-content}}
  {{> partials-aggregator-summary-table}}
  <p class="govuk-body">{{#t}}pages.substance-summary.substance-limit-message{{/t}}</p>
  {{#noMoreSubstances}}
    <p>{{#t}}pages.substance-summary.substance-limit-exceeded{{/t}}</p>
  {{/noMoreSubstances}}
  <br>
  {{^noMoreSubstances}}
  <a href="{{baseUrl}}/{{addStep}}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another {{addAnotherLinkText}}
  </a>
  <br>
  {{/noMoreSubstances}}
  {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
